*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 60px;
    padding-top: 30px;
    font-size: x-large;
    background: fixed;
    background-image: url(./img/banner2.jpeg);
    width: 110%;
    height: 184px;
}

.button{
    padding-left: 80px;
}

.img1{
   float: right;
   width: 184px;
}


.form-select{
     display:inline-block;
     width: 25%;
     font-weight: 400;
     color: black;
     background-color: white;
     border: 1px solid rgb(174, 171, 171);
     border: radius 15px;
     margin-right: 10px;
     padding: 10px;
     padding-right: 30px;

}

.container1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    padding: 20px;
    width: 18%;
    text-align: center;
    display: inline-block;
    

}



.col {
    padding: 15px;
    width: auto;
    margin: auto;
    display: inline-block;

}

.row {
    display: flex;
    flex-wrap: wrap;
    }

.btn{
    background-color: rgb(42, 163, 9);
    padding: 5px 10px;
    font-weight: 200;
    display: inline-block;
    }

.container2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    padding: 20px;
    width: 18%;
    text-align: center;
    display: inline-block;
}

.discount{
    color: rgb(7, 95, 130);
    font-weight: bold;
}

.col img{
   
    width: 100%;
    height: 180px;
    object-fit: contain;
    transition: 0.3s ease;
}

a{
    text-decoration: none;
    padding: 40px 0px ;
    color: rgb(101, 88, 221);
}

.s1{
  color: #f1c40f;
  text-shadow: black;
  border-color: black;
}